POSTGRES_DB=tripmate_db
POSTGRES_USER=tripmate_user
POSTGRES_PASSWORD=tripmate1234

DATABASE_URL=postgresql+psycopg2://tripmate_user:tripmate1234@database:5432/tripmate_db

JWT_SECRET_KEY=

ENVIRONMENT=development

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SES_SENDER_EMAIL=